<html>
    <head>
        <link rel="stylesheet" href="/css/version-1/style.css"></link>

    </head>

    <body>
        <h1>Login</h1>

        <form method = "POST" action = "/login">
            
                <div>
            <lable for="email">Email</lable>  
            <input type = "text" id="email"  name="email" required>
               </div>
                <div>
            <lable for="password">password</lable>  
            <input type = "text" id="password"  password="password" required>
               </div>
             

            <button type="submit">Login</button>
        </form>

       <a href="/register">Register</a>

        
    </body>
    <script src="/js/third-party-libs/libs.js"></script>

</html>